## Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

In [5]:
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

## Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it

In [9]:
Cars=['ford','tata','hyundai','suzuki','mahindra','bugatti','porshe','mustang','mercedes','bmw']
pd.Series('Cars')

0    Cars
dtype: object

## Q3. Create a Pandas DataFrame that contains the following data:

In [20]:
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

## Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

### In pandas, a DataFrame is a two-dimensional data structure that represents tabular data. It consists of rows and columns, similar to a spreadsheet or a SQL table. It is one of the most commonly used data structures in pandas.
### The key difference between a DataFrame and a Series is that a Series represents a single column of data with an associated index, while a DataFrame contains multiple columns of data, each with its own label or column name. For example:

In [21]:
## for data frame
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [22]:
## for series
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.Series(data)
print(df)

Name        [Alice, Bob, Claire]
Age                 [25, 30, 27]
Gender    [Female, Male, Female]
dtype: object

## Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

In [ ]:
# Suppose 'df' is the DataFrame containing sales data

# View the first 5 rows
print(df.head())

# View the first 5 rows
print(df.tail())

# Get summary statistics of numerical columns
print(df.describe())

# Count the unique products sold
unique_products = df['Product'].nunique()
print("Number of unique products:", unique_products)

# Sort the DataFrame by price in descending order
sorted_df = df.sort_values('Price', ascending=False)
print(sorted_df.head())

# Group the data by product and calculate the total sales quantity for each product
grouped_df = df.groupby('Product')['Quantity'].sum()
print(grouped_df)

## Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

### Data Frame and Series

### Series: A Pandas Series is mutable, allowing you to modify or update individual elements within the Series by assigning new values to specific indices. For example, you can change the value of a specific element in a Series using indexing: 'series[index] = new_value'.

### DataFrame: Similar to Series, a Pandas DataFrame is mutable. You can modify specific cells, rows, or columns by indexing or using appropriate DataFrame methods. For instance, you can update a value in a DataFrame using indexing: 'df.loc[row_index, column_name] = new_value'.

## Q7. Create a DataFrame using multiple Series. Explain with an example.

In [24]:
# Create Series for each column
name_series = pd.Series(['Alice', 'Bob', 'Claire'])
age_series = pd.Series([25, 30, 27])
gender_series = pd.Series(['Female', 'Male', 'Female'])

# Create DataFrame using the Series
data = {
    'Name': name_series,
    'Age': age_series,
    'Gender': gender_series
}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female