### Q1. Create one variable containing following type of data:
### (i) string
### (ii) list
### (iii) float
### (iv) tuple

In [1]:
# (i) string
string_var = "Hello, World!"

# (ii) list
list_var = [1, 2, 3, 4, 5]

# (iii) float
float_var = 3.14

# (iv) tuple
tuple_var = (10, 20, 30)

### Q2. Given are some following variables containing data:
### (i) var1 = ‘ ‘
### (ii) var2 = ‘[ DS , ML , Python]’
### (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
### (iv) var4 = 1.
### What will be datatype of these

In [8]:
var1 = ' '# It is a string with a single space character
type_var1 = type(var1)  # <class 'str'>

var2 = '[DS , ML , Python]' # It is a string with spaces and characters that resemble a list, but it's a string
type_var2 = type(var2)  # <class 'str'>

var3 = [ 'DS' , 'ML' , 'Python' ]# It is a list of strings
type_var3 = type(var3)  # <class 'list'>

var4 = 1# It is a float
type_var4 = type(var4)  # <class 'float'>

### Q3. Explain the use of the following operators using an example:
### (i) / (ii) % (iii) // (iv) **

In [9]:
result = 10 / 3
print(result)  # Output: 3.3333333333333335

3.3333333333333335

In [10]:
remainder = 10 % 3
print(remainder)  # Output: 1 (remainder of 10 divided by 3)

1

In [11]:
quotient = 10 // 3
print(quotient)  # Output: 3 (integer division of 10 by 3)

3

In [12]:
power = 2 ** 3
print(power)  # Output: 8 (2 raised to the power of 3)

8

### Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [13]:
my_list = [10, "hello", 3.14, True, [1, 2, 3], (4, 5), {'a': 1, 'b': 2}, None, False, "world"]

for element in my_list:
    print(f"Element: {element}, Type: {type(element)}")

Element: 10, Type: <class 'int'>
Element: hello, Type: <class 'str'>
Element: 3.14, Type: <class 'float'>
Element: True, Type: <class 'bool'>
Element: [1, 2, 3], Type: <class 'list'>
Element: (4, 5), Type: <class 'tuple'>
Element: {'a': 1, 'b': 2}, Type: <class 'dict'>
Element: None, Type: <class 'NoneType'>
Element: False, Type: <class 'bool'>
Element: world, Type: <class 'str'>

### Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [14]:
A = 36
B = 4

count = 0
while A % B == 0:
    A = A // B
    count += 1

print(f"A was divisible {count} times by B.")

A was divisible 1 times by B.

### Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [15]:
int_list = list(range(1, 26))

for num in int_list:
    if num % 3 == 0:
        print(f"{num} is divisible by 3")
    else:
        print(f"{num} is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

### Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

In [16]:
## Mutable 
my_list = [1, 2, 3]
my_list[0] = 10
print(my_list)  # Output: [10, 2, 3]

[10, 2, 3]

In [17]:
## Immutable 
my_tuple = (1, 2, 3)
my_tuple[0] = 10  # This will raise an error

TypeError: 'tuple' object does not support item assignment